  <main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">Description</h1>
              
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{{path('app_home')}}">Acceuil</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="{{path('app_prop')}}">Propriétes</a>
                </li>
                
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->

    <!-- ======= Property Single ======= -->
    <section class="property-single nav-arrow-b">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div id="property-single-carousel" class="swiper">
              <div class="swiper-wrapper">
                <div class="carousel-item-b swiper-slide">
                            <img src="/uploads/images/prop/{{detail.image}}" alt="">
                </div>
                <div class="carousel-item-b swiper-slide">
                  <img src="assets/img/slide-2.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="property-single-carousel-pagination carousel-pagination"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">

            <div class="row justify-content-between">
              <div class="col-md-5 col-lg-4">
                <div class="property-price d-flex justify-content-center foo">
                  <div class="card-header-c d-flex">
                    <div class="card-box-ico">
                 
                    </div>
                    <div class="card-title-c align-self-center">
                      <h5 class="title-c"></h5>
                    </div>
                  </div>
                </div>
                <div class="property-summary">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="title-box-d section-t4">
                        <h3 class="title-d">Plus d'informations : </h3>
                      </div>
                    </div>
                  </div>
                  <div class="summary-list">
                    <ul class="list">
                      <li class="d-flex justify-content-between">
                        <strong>Prix:</strong>
                        <span>{{detail.prix}} </span> <span>milles</span>

                      </li>
                      
                      <li class="d-flex justify-content-between">
                        <strong>Propriéte Type:</strong>
                        <span>{{detail.type}}</span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>Parking:</strong>
                        <span>{{detail.parking}}</span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>Surface:</strong>
                        <span>{{detail.surface}}
                          <span>m</span><sup>2</sup>
                        </span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>Chambre:</strong> {{detail.chambre}}
                        <span></span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>wc:</strong> {{detail.wc}}
                        <span></span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>Garage:</strong>{{detail.garage}}
                        <span></span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-7 col-lg-7 section-md-t3">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="title-box-d">
                      <h3 class="title-d">Property Description</h3>
                    </div>
                  </div>
                </div>
                <div class="property-description">
                  <p class="description color-text-a">
                    Ce une grande maison, ..........
                  </p>
                  <p class="description color-text-a no-margin">
                    
                  </p>
                </div>
                
               
         
          <div class="col-md-12">
            <div class="row section-t3">
              <div class="col-sm-12">
                <div class="title-box-d">
                  <h3 class="title-d">Contact Agent</h3>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-lg-4">
                <img src="assets/img/agent-4.jpg" alt="" class="img-fluid">
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="property-agent">
                  <h4 class="title-agent">Tayssir Bannour</h4>
                  <p class="color-text-a">
                 Je m'applle Tayssir je suis ici pour conseille et donner plus d'informations.
                  </p>
                  <ul class="list-unstyled">
                    <li class="d-flex justify-content-between">
                      <strong>Phone:</strong>
                      <span class="color-text-a">(+216) 25 313 294</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Mobile:</strong>
                      <span class="color-text-a">73 495 473</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Email:</strong>
                      <span class="color-text-a">Bannourtayssir37@gmail.com</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Skype:</strong>
                      <span class="color-text-a">Tayssir.ge</span>
                    </li>
                  </ul>
                 
                </div>
              </div>
              <strong>
              </br>
              <div class="form">
                                
                                
                               {{ form_start(monform) }}
                                 
                              
                                 <div class="col-md-12">
                                     <div class="input_field">
                                          {{ form_widget(monform.email) }}
                                      </div>
                                  </div>
                                
                                     <div class="col-md-12">
                                     <div class="input_field">
                                          {{ form_widget(monform.message) }}
                                      </div>
                                  </div>
                                    
                                           {{form_widget(monform.propriete,{'value':detail.id}) }}
                                
                                
                                     
                                          
                                        
                                            
                                         
                                    
  

                                
                                      <input type="submit"   class="boxed-btn3 w-100" value="Ajouter">
                               
                               
                                 {{ form_end(monform) }}

                            </div>
                        
                </div>
              </div>
              </strong>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Property Single-->

  </main><!-- End #main -->